
#tree-view {
    overflow: scroll;
    height: 95%;
}

#code-editor {
    height: 95%;
}

::-webkit-scrollbar { 
    display: none; 
}

.item.c-file-item:hover {
    color: green;
    cursor: pointer;
}
