html {
    padding: 0;
    margin: 0;

    height: 100%;
    overflow: hidden;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1400px;

     height: 100%; 
    overflow: hidden;

    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tree-view {
    overflow: scroll;
}

#code-editor {
}

::-webkit-scrollbar { 
    display: none; 
}

.item.c-file-item:hover {
    color: red;
    cursor: pointer;
}

div.CodeMirror {
    height: 100%;
}

div.ui.segment { 
    padding: 10px;
}

.ui.grid > .row > .column {
    padding-left: 3px;
    padding-right: 3px;
}

.h-code-grid.ui.raised.segment {
    padding:0;
    padding-bottom: 29px;
    width: 100%;
    height: 100%;
}